# ------------------------
# Android / IntelliJ / Gradle ignore
# ------------------------

# IntelliJ project files
.idea/
*.iml

# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties

# Mac OS
.DS_Store

# Android Captures
captures/

# NDK / external builds
.externalNativeBuild/
.cxx/

# Ignore navigation editor temp files
*.nav

# Optional: if using keystore inside project (não recomendado)
*.jks
*.keystore
