name: Android CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 40

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 17
          cache: gradle

      - name: Permitir execução do Gradle
        run: chmod +x gradlew

      - name: Gradle Check
        run: ./gradlew check --stacktrace

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Upload do APK
        uses: actions/upload-artifact@v4
        with:
          name: android-apk-debug
          path: app/build/outputs/apk/debug/app-debug.apk
